@import "../../style/var/variable";

.ss-form {
  .ant-form-item-control{
    line-height: normal;
  }
  .has-error {
    .ss-input.ant-input-affix-wrapper .ant-input,
    .ss-input.ss-textarea{
      border-color: @color_error;
      &:hover, &:focus {
        background: @yellow_color;
        border-color: @yellow_hover;
      }
    }
  }
}
