@import "../../style/var/variable";
.ss-table {
  .ant-table {
    color: @color_basic;
    font-size: 12px;
    background: #121A19;
  }
  .ant-table-thead > tr > th {
    height: 24px;
    color: @color_basic;
    font-size: 12px;
    line-height: 1.55;
    font-weight: normal;
    background: @basic_color;
    padding: 0 10px;
    border-right-color: @color_black !important;
    border-bottom-color: @color_black !important;
  }
  .ant-table-tbody > tr > td {
    height: 24px;
    line-height: 1.55;
    line-height: 1.55;
    font-weight: normal;
    padding: 0 10px;
    border-right-color: @color_black !important;
    border-bottom-color: @color_black !important;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    .ant-checkbox-wrapper {
      .ant-checkbox {
        .ant-checkbox-inner {
          width: 12px;
          height: 12px;
          background-color: transparent;
          border-color: @basic_hover;
          border-width: 2px;
        }
        &-disabled {
          .ant-checkbox-inner {
            border-color: @basic_disabled !important;
          }
        }
        &-checked {
          &::after {
            border-color: transparent;
          }
          &:hover {
            &::after {
              border-color: transparent;
            }
          }
          .ant-checkbox-inner {
            background-color: @yellow_color;
            border-color: @yellow_color;
            &::after {
              border-color: @color_black;
              transform: rotate(45deg) scale(1) translate(-66%, -50%);
            }
          }
          &-disabled {
            .ant-checkbox-inner {
              background-color: @basic_disabled !important;
              border-color: @basic_disabled !important;
              &::after {
                border-color: @color_black !important;
              }
            }
          }
        }
        &-indeterminate {
          .ant-checkbox-inner {
            border-color: @yellow_color;
            &::after {
              width: 4px;
              height: 4px;
              background-color: @yellow_color;
            }
          }
        }
      }
    }
  }
  .ant-table-tbody > tr.ant-table-row-selected td {
    background: @basic_color;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: @basic_color;
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: @basic_color;
  }
  .ant-table-container{
    border-color: @color_black !important;
  }
  .ant-table-header{
    background: @basic_color;
    &.ant-table-hide-scrollbar{
      min-width: unset !important;
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: @basic_light;
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    }
    &::-webkit-scrollbar-track {
      background: @basic_color;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    }
    table {
      border-color: transparent;
    }
  }
  .ant-table-scroll {
    .ant-table-body {
      background: #121A19 !important;
    }
  }
  .ant-table-body{
    table {
      background: #121A19;
      border: none;
    }
    &::-webkit-scrollbar {
      width: 8px;
      height: 1px;
    }
    &::-webkit-scrollbar-thumb {
      background: @basic_light;
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    }
    &::-webkit-scrollbar-track {
      background: @basic_color;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    }
  }
  .ant-table-title {
    padding: 4px 10px;
    border: none;
  }

  .ant-table-placeholder {
    background: #121A19;
    border-color: #1e1e1e;
  }
  .ant-table-bordered.ant-table-empty .ant-table-placeholder {
    border-color: #1e1e1e;
  }
}
